<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TaskBunny</title>
    <link rel="stylesheet" href="/static/assets/css/styles.css">
</head>
<body>

    <div class="top">
        TaskBunny
    </div>

    {{! Page Content }}
    <div>
        {{{body}}}
    </div>

</body>
</html>