<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TaskBunny</title>
    <link rel="stylesheet" href="/static/assets/css/styles.css">
</head>
<body>

    <div class="navigationBar">
        <a class="topLevelLink" id="homeIcon" href="/">TaskBunny</a>
        <div class="dropDownContainer">
            <div class="dropDownHeader">Navigation</div>
            <div class="dropDownContent">
                <a href="/view-jobs">View Posted Jobs</a>
                <a href="/">Edit href in main.handlebars</a>
                <a href="/">Edit href in main.handlebars</a>
            </div>
        </div>
    </div>

    {{! Page Content }}
    <div style="padding:20px;margin-top:10px;">
        {{{body}}}
    </div>

</body>
</html>