  <div class="login-form">
    <h1>Login Form</h1>
    <form action="auth" method="POST">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="submit">
    </form>
</div>

<div class="create-account">
    <h1>Create Account</h1>
    <h2 id="success" style="display: none">Success</h2>
    <h2 id="error" style="display: none; color: red;"></h2>
    <form action="createAccount" method="POST">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="email" name="email" placeholder="Email Address" required>
        <input type="submit">
    </form>
</div>

<script type="text/javascript">
    let path = window.location.href;
    console.log(path);
    if (path.indexOf("success=true") !== -1) {
        document.getElementById("success").style.display = "block";
    } else if (path.indexOf("error=")) {
        let arrayOfStrings = path.split("error=");
        let errorMessageWithHtml = arrayOfStrings[1];
        if (errorMessageWithHtml !== undefined) {
            let errorMessage = decodeURI(errorMessageWithHtml);
            document.getElementById("error").style.display = "block";
            document.getElementById("error").innerText = errorMessage;
        }
    }
</script>

<script>
    document.addEventListener("DOMContentLoaded", function() { 
        document.querySelector(".topLevelLink").style.visibility = "hidden";
        document.querySelector(".dropDownContainer").style.visibility = "hidden";
    })
</script>