<h1>Review a Worker</h1>
<h3>Select Worker: </h3>
<h3>Rating: </h3>
<br>
<h2>Upload a picture of their work!</h2>
<form action="/">
  <label for="img"></label>
  <input type="file" id="img" name="img" accept="image/*">
  <input type="submit">
</form>

</body>