<!DOCTYPE html>
<html>
<body>
<h1>Review a Worker</h1>

	<form action = "/review" method = "post">	
	<fieldset>
		<legend><h3>Select Worker</h3></legend>
		<p>
		<label>Username </label>
		<select name = "UserID">
		<option style="display:none"></option>
			{{#each user}}
		<option value = '{{this.customerId}}'>{{this.userName}}</option>
		{{/each}}
		</select>
		</p>

		<p>
		Rating:
		<br>
		<input type="radio" name="Rating" id="1" value="1">
		<label for="1">1</label><br>

		<input type="radio" name="Rating" id="2" value="2">
		<label for="2">2</label><br>

		<input type="radio" name="Rating" id="3" value="3">
		<label for="3">3</label><br>

		<input type="radio" name="Rating" id="4" value="4">
		<label for="4">4</label><br>

		<input type="radio" name="Rating" id="5" value="5">
		<label for="5">5</label><br>
		</p>

		<p>
		Rating Details:
		<br>
		<input type="text" name ="RatingDetails" id ="RatingDetails">
		</p>

		<p>
		Upload a picture of their work:
		<br>
		<label for="img"></label>
		<input type="file" id="img" name="img" accept="image/*">
		</p>
		<br>
		<input type="submit">
    </fieldset>	
</form>	

</body>
</html>